*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: chartreuse;
}

nav{
    height: 100px;
    background-color:darkgray;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    line-height: 100px;
}

.header .logo{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.menu a{
    font-size: 20px;
    text-transform: capitalize;
    padding: 0px 20px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.menu a:hover{
    color: #fff;
}

.showmenu,.hidemenu{
    font-size: 25px;
    display: none;
}

#chk{
    visibility: hidden;
    z-index: -111;
}

@media(max-width:400px) {

    .header .logo{
        font-size: 20px;
    }
    
    .showmenu,.hidemenu{
        display: block;
        float: right;
    }

    .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        right:-100%;
        top: 0;
        background:#333;
        text-align: center;
        transition: 1s;
    }

    .menu a{
        display: block;
        color: #fff;
    }

    .showmenu{
        position: absolute;
        top: 0px;
        right: 40px;
    }

    .hidemenu{
        position: absolute;
        top:30px;
        right:30px;
        color: white;
    }

    #chk:checked ~ .menu{
        right: 0;
    }




}