*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 20px;
}

.logo{
    height: 40px;
    width: 140px;
   
}

ul li{
    display: inline;
    margin-right: 10px;
   
 
}

ul li a{
    font-size: 20px;
    text-decoration: none;
    padding: 10px 12px;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.1s ease-out;
    
}

ul li a:hover{
   color: orangered;
}

.active{
    color: orangered;
}

.one{
    float: right;
    width: 65%;
    height: 670px;
}

.two{
    float: left;
    width: 35%;
    height: 670px;
}

main{
    position: absolute;
    top: 35%;
    left: 8%;
    text-align: center;
}

.first{
    font-size: 80px;
    font-family:'brush script MT',cursive;
    color: white;
}

.second{
    font-size: 21px;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    margin-top: 20px;
    padding: 8px 25px;
    background-color: white;
    color: orangered;
    font-weight: bold;
    border: 1px solid orangered;
}