*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;
    color: #fff;
}

img{
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20px;
}

nav ul{
    margin-top: 10px;
}
nav ul li{
    display: inline;
    
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0px 12px;
    font-size: 23px;
    text-transform: uppercase;
    
    
}

nav ul li a:hover{
    /* color: #FFFFFF;
background: #333333; */
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px
    /* background-color: #232323; */
    /* text-shadow: 0 0 5px #49FF18, 0 0 10px #49FF18, 0 0 15px #49FF18, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18 */
}


nav h3{
    font-size: 30px;
    font-weight: bold;
}

.divone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.divone h4,h3{
    padding: 6px;
}


.divone h4{
    font-size: 50px;
    text-transform: uppercase;
    color: orangered;
}

.divone h3{
    font-size: 25px;
    text-transform: uppercase;
    color: aqua;
}

.one{
    text-align: center;
    padding-top:160px ;

}

